In [6]:
import pandas as pd
import numpy as np
import os
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [7]:
path_train = 'data/crop_production.csv'
data = pd.read_csv(path_train)

In [8]:
data.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [9]:
data = data.dropna(how='any',axis=0)

In [10]:
data.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [11]:
data.describe()

           Crop_Year          Area    Production
count  242361.000000  2.423610e+05  2.423610e+05
mean     2005.625773  1.216741e+04  5.825034e+05
std         4.958285  5.085744e+04  1.706581e+07
min      1997.000000  1.000000e-01  0.000000e+00
25%      2002.000000  8.700000e+01  8.800000e+01
50%      2006.000000  6.030000e+02  7.290000e+02
75%      2010.000000  4.545000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [12]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 242361 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     242361 non-null  object
 1   District_Name  242361 non-null  object
 2   Crop_Year      242361 non-null  int64
 3   Season         242361 non-null  object
 4   Crop           242361 non-null  object
 5   Area           242361 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 14.8+ MB

In [14]:

X = data.drop(['Production','Crop_Year'],axis=1)
print(X.head())
X = pd.get_dummies(X)
Y = data['Production']
#3 Feature Scaling

                    State_Name District_Name       Season  \
0  Andaman and Nicobar Islands      NICOBARS  Kharif
1  Andaman and Nicobar Islands      NICOBARS  Kharif
2  Andaman and Nicobar Islands      NICOBARS  Kharif
3  Andaman and Nicobar Islands      NICOBARS  Whole Year
4  Andaman and Nicobar Islands      NICOBARS  Whole Year

                  Crop    Area
0             Arecanut  1254.0
1  Other Kharif pulses     2.0
2                 Rice   102.0
3               Banana   176.0
4            Cashewnut   720.0

In [15]:
print(data.iloc[0])

State_Name       Andaman and Nicobar Islands
District_Name                       NICOBARS
Crop_Year                               2000
Season                           Kharif
Crop                                Arecanut
Area                                  1254.0
Production                            2000.0
Name: 0, dtype: object

In [16]:
print("Number of States: " + str(data['State_Name'].unique().shape))
print("Number of Districts: " + str(data['District_Name'].unique().shape))
print("Number of Years: " + str(data['Crop_Year'].unique().shape))
data.skew()

Number of States: (33,)
Number of Districts: (646,)
Number of Years: (19,)

Crop_Year      0.015877
Area          47.769121
Production    40.741540
dtype: float64

In [17]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_jobs=6,verbose=1)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2, random_state=30)

In [20]:
reg.fit(X_train, y_train)

[Parallel(n_jobs=6)]: Using backend ThreadingBackend with 6 concurrent workers.
[Parallel(n_jobs=6)]: Done  38 tasks      | elapsed:  4.1min
[Parallel(n_jobs=6)]: Done 100 out of 100 | elapsed:  9.9min finished

RandomForestRegressor(n_jobs=6, verbose=1)

In [21]:
reg.score(X,Y)

[Parallel(n_jobs=6)]: Using backend ThreadingBackend with 6 concurrent workers.
[Parallel(n_jobs=6)]: Done  38 tasks      | elapsed:    0.5s
[Parallel(n_jobs=6)]: Done 100 out of 100 | elapsed:    1.3s finished

0.9700218727784046

In [19]:
reg.predict(X_test)

NotFittedError: This RandomForestRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [24]:
reg.score(X_test,y_test)

[Parallel(n_jobs=6)]: Using backend ThreadingBackend with 6 concurrent workers.
[Parallel(n_jobs=6)]: Done  38 tasks      | elapsed:    0.2s
[Parallel(n_jobs=6)]: Done 100 out of 100 | elapsed:    0.4s finished

0.936169229432264

In [25]:
print(y_test)

139488       54.0
153276       34.0
71559     38768.0
73504        16.0
36516        19.0
           ...
108098     4375.0
51734         9.0
188143       63.0
71501        86.0
1485      10437.0
Name: Production, Length: 48473, dtype: float64

In [27]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(reg, open(filename, 'wb'))

In [30]:
print(X_test.head())

           Area  State_Name_Andaman and Nicobar Islands  \
139488     47.0                                       0
153276     58.0                                       0
71559   26739.0                                       0
73504      30.0                                       0
36516      29.0                                       0

        State_Name_Andhra Pradesh  State_Name_Arunachal Pradesh  \
139488                          0                             0
153276                          0                             0
71559                           0                             0
73504                           0                             0
36516                           0                             0

        State_Name_Assam  State_Name_Bihar  State_Name_Chandigarh  \
139488                 0                 0                      0
153276                 0                 0                      0
71559                  0                 0                      0
73504                  0                 0                      0
36516                  0                 1                      0

        State_Name_Chhattisgarh  State_Name_Dadra and Nagar Haveli  \
139488                        0                                  0
153276                        0                                  0
71559                         0                                  0
73504                         0                                  0
36516                         0                                  0

        State_Name_Goa  ...  Crop_Turmeric  Crop_Turnip  Crop_Urad  \
139488               0  ...              0            0          0
153276               0  ...              0            0          0
71559                0  ...              0            0          0
73504                0  ...              1            0          0
36516                0  ...              0            0          0

        Crop_Varagu  Crop_Water Melon  Crop_Wheat  Crop_Yam  \
139488            0                 0           1         0
153276            0                 0           0         0
71559             0                 0           0         0
73504             0                 0           0         0
36516             0                 0           0         0

        Crop_other fibres  Crop_other misc. pulses  Crop_other oilseeds
139488                  0                        0                    0
153276                  0                        0                    0
71559                   0                        0                    0
73504                   0                        0                    0
36516                   0                        0                    0

[5 rows x 810 columns]